---

import texts from "@/../texts.json";
---
<section class="flex-col min-h-screen w-screen text-center relative overflow-hidden pb-10 ">
   <h1 class="mt-[100px] mb-[60px] text-3xl md:text-3xl xl:text-5xl font-medium text-center fadeInUp fadeInUpSlow">{texts.landing.header.nav.indicatorsOption}</h1>
  <section class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 md:gap-[50px] xl:gap-[20px] gap-4 mt-[6rem] mx-5 sm:mx-10 lg:mx-20 z-30 relative md:pt-28 xl:pt-4">
   
      <div class="relative mb-4 rounded-xl cursor-pointer border-white backdrop-blur-sm transition-transform transform-gpu hover:scale-105 sm:h-[50px] md:h-[300px] xl:h-[180px]  ">
         <a href="/Main?indicator=apar" class=" items-start inline-flex sm:text-md md:text-lg xl:text-xl text-center mt-6 ">{texts.landing.header.nav.Indicators.aparIndicator.title}</a>
         <p class="md:text-md sm:text-sm text-center py-[2vh] px-6  ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
         <img src="/images/1.jpeg" alt="faq" class="absolute inset-0 w-full bg-black opacity-45  h-full object-cover rounded-xl -z-20" />
      </div>

      <div class="relative mb-4 rounded-xl cursor-pointer border-white backdrop-blur-sm transition-transform transform-gpu hover:scale-105 sm:h-[50px] md:h-[300px] xl:h-[180px]    ">
         <a href="/Main?indicator=ppna" class="items-start inline-flex sm:text-md md:text-lg xl:text-xl text-center mt-6 ">{texts.landing.header.nav.Indicators.ppnaIndicator.title}</a>
         <p class="md:text-md sm:text-sm text-center py-[2vh] px-6 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
         <img src="/images/1.jpeg" alt="faq" class="absolute inset-0 w-full bg-black opacity-45  h-full object-cover rounded-xl -z-20" />
      </div>

      <div class="relative mb-4 rounded-xl cursor-pointer border-white backdrop-blur-sm transition-transform transform-gpu hover:scale-105 sm:h-[50px] md:h-[300px] xl:h-[180px]  ">
         <a href="/Main?indicator=rh" class="items-start inline-flex sm:text-md md:text-lg xl:text-xl text-center mt-6 ">{texts.landing.header.nav.Indicators.rhIndicator.title})</a>
         <p class="md:text-md sm:text-sm text-center py-[2vh] px-6 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
         <img src="/images/1.jpeg" alt="faq" class="absolute inset-0 w-full bg-black opacity-45  h-full object-cover rounded-xl -z-20" />
       </div>
      
      <div class="relative mb-4 rounded-xl cursor-pointer border-white backdrop-blur-sm transition-transform transform-gpu hover:scale-105 sm:h-[50px] md:h-[300px] xl:h-[180px]  ">
         <a href="/Main?indicator=et" class="items-start inline-flex sm:text-md md:text-lg xl:text-xl text-center mt-6 ">{texts.landing.header.nav.Indicators.etIndicator.title}</a></a>
         <p class="md:text-md sm:text-sm text-center py-[2vh] px-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
         <img src="/images/4.jpg" alt="faq" class="absolute inset-0 w-full bg-black opacity-45  h-full object-cover rounded-xl -z-20" />
      </div>
      <div class="relative mb-4 rounded-xl cursor-pointer border-white backdrop-blur-sm transition-transform transform-gpu hover:scale-105 sm:h-[50px] md:h-[300px] xl:h-[180px] ">
         <a href="/Main?indicator=iose" class="items-start inline-flex sm:text-md md:text-lg xl:text-xl text-center mt-6 ">{texts.landing.header.nav.Indicators.ioseIndicator.title}</a>
         <p class="md:text-md sm:text-sm text-center py-[2vh] px-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
         <img src="/images/5.jpg" alt="faq" class="absolute inset-0 w-full bg-black opacity-45  h-full object-cover rounded-xl -z-20" />
      </div>
      <div class="relative mb-4 rounded-xl cursor-pointer border-white backdrop-blur-sm transition-transform transform-gpu hover:scale-105 sm:h-[50px] md:h-[300px] xl:h-[180px]  ">
         <a href="/Main?indicator=cover" class="items-start inline-flex sm:text-md md:text-lg xl:text-xl text-center mt-6 ">{texts.landing.header.nav.Indicators.coverIndicator.title}</a>
         <p class="md:text-md sm:text-sm text-center py-[2vh] px-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
         <img src="/images/6.jpg" alt="faq" class="absolute inset-0 w-full  bg-black opacity-45   h-full object-cover rounded-xl -z-20" />
      </div>
      </section>
</section>






