---

import texts from "@/../texts.json";
import CardIndicators from "./CardIndicators.astro";
---
<section class="flex-col min-h-screen w-screen text-center relative overflow-hidden pb-28 ">
   <div class="absolute inset-0 bg-gradient-to-r from-[#1f3322] to-[#039728] opacity-80 -z-10"></div>
   <h1 class="p-4 mb-[60px] text-xl md:text-3xl xl:text-4xl font-medium text-center fadeInUp fadeInUpSlow bg-gradient-to-l from-[#c1c011] to-white  text-primary">Características estructurales y funcionales</h1>
  <section class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 md:gap-[50px] xl:gap-[20px] gap-4 mt-[6rem] mx-5 sm:mx-10 lg:mx-20 z-30 relative md:pt-28 xl:pt-4 md:px-24">
      
      <CardIndicators title={texts.landing.header.nav.Indicators.ioseIndicator.title} description={texts.landing.header.nav.Indicators.ioseIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=IOSE" buttonText="Acceder" />
      <CardIndicators title={texts.landing.header.nav.Indicators.etIndicator.title} description={texts.landing.header.nav.Indicators.etIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=ET" buttonText="Acceder" />
      <CardIndicators title={texts.landing.header.nav.Indicators.rhIndicator.title} description={texts.landing.header.nav.Indicators.rhIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=RH" buttonText="Acceder" />
      <CardIndicators title={texts.landing.header.nav.Indicators.DiversidadIndicator.title} description={texts.landing.header.nav.Indicators.DiversidadIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=DivTFE" buttonText="Acceder" />
      
 
   
   </section>
</section>






