---
import { Icon } from "astro-icon/components";
import texts from "@/../texts.json";
import { Separator } from "@/components/ui/separator";

---


  <div id="indicatorsOptionPanel" data-state="inactive" class="option-panel hidden  flex-col w-full mt-28 mx-10">
	<div class=" grid grid-cols-1 ">

	 <!-- Títulos de secciones -->
	 <div class="grid grid-cols-2 mb-4">
		<h2 class=" font-bold text-sm mb-2 ml-4 ">Características estructurales y funcionales</h2>
		<h2 class=" font-bold text-sm mb-2 -ml-36 ">Indicadores Ambientales</h2>
    </div>




      <div class="grid grid-cols-5 gap-4 grid-flow-row">

		<a href="/Main?indicator=RFAA " class="text-[12px]">
			<div id="apar" class=" indicator flex  p-2 items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[13rem] rounded-lg  border-black text-black" >
				<i class=" mr-6 ml-2">
					<Icon name="apar" size="24" />
				</i>
				{texts.landing.header.nav.Indicators.aparIndicator.title}
			</div>
	    </a>

		<a href="/Main?indicator=COB" class="text-[12px]">
			<div id="cover" class=" indicator flex  p-2 items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[13rem] rounded-lg  border-black text-black" >
				<i class=" mr-6 ml-2">
					<Icon name="cover" size="24" />
				</i>
				{texts.landing.header.nav.Indicators.coverIndicator.title}
			</div>
		</a>


		<a href="/Main?indicator=RH" class="text-[12px]">
			<div id="rh" class=" indicator flex  p-2 items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[13rem] rounded-lg  border-black text-black" >
				<i class="mr-6 ml-2">
					<Icon name="rh" size="24" />
				</i>
				{texts.landing.header.nav.Indicators.rhIndicator.title}
			</div>
	    </a>
		<Separator className=" absolute h-[37%] ml-[76vh]" orientation="vertical"  />

        <a href="/Main?indicator=ET" class="text-[12px]">
			<div id="et" class=" indicator flex  p-2 items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[13rem] rounded-lg  border-black text-black" >
				<i class=" mr-6 ml-2">
					<Icon name="et" size="24" />
				</i>
				{texts.landing.header.nav.Indicators.etIndicator.title}</a>
			</div>
	    </a>

		<a href="/Main?indicator=IOSE" class="text-[12px]">
			<div id="iose" class=" indicator flex  p-2 items-center hover:bg-gray-200  h-[4rem] cursor-pointer w-[13rem] rounded-lg  border-black text-black" >
				<i class=" mr-6 ml-2">
					<Icon name="iose" size="24" />
				</i>
				{texts.landing.header.nav.Indicators.ioseIndicator.title}</a>
			</div>
	    </a>

        <a href="/Main?indicator=PPNA" class="text-[12px]">
			<div id="ppna" class=" indicator flex p-2 items-center  hover:bg-gray-200 h-[4rem] cursor-pointer w-[15rem] rounded-lg  border-black text-black" >
				<i class=" mr-6 ml-2">
					<Icon name="ppna" size="24" />
				</i>
				{texts.landing.header.nav.Indicators.ppnaIndicator.title}</a>
			</div>
		</a>

		<div id="communities" class="indicator zone flex  p-2 items-center hover:bg-gray-200 cursor-pointer  h-[4rem] w-[12rem]  rounded-lg border-black text-black">
			<i class="mr-6 ml-2">
				<Icon name="communities" size="24" />
			</i>
				<a href="/Main?zone=ComPN" class="text-[12px]">{texts.landing.header.nav.Indicators.communitiesZonesIndicator.title}</a>
		</div>
		<div id="DivTFE" class=" indicator flex p-2 items-center  hover:bg-gray-200 h-[4rem] w-[15rem] cursor-pointer  rounded-lg  border-black text-black" >
			<i class=" mr-6 ml-2">
				<Icon name="diversity" size="24" />
			</i>
			<a href="/Main?indicator=DivTFE" class="text-[12px]">{texts.landing.header.nav.Indicators.DiversidadIndicator.title}</a>
		</div>
		<div id="CSUE" class=" indicator flex p-2 items-center  hover:bg-gray-200 h-[4rem] w-[15rem] cursor-pointer  rounded-lg  border-black text-black" >
			<i class=" mr-6 ml-2">
				<Icon name="conservation" size="24" />
			</i>
			<a href="/Main?indicator=CSUE" class="text-[12px]">{texts.landing.header.nav.Indicators.ConservacionIndicator.title}</a>
		</div>
		<div id="humanAppropriation" class=" indicator flex p-2 items-center  hover:bg-gray-200 h-[4rem] w-[15rem] cursor-pointer  rounded-lg  border-black text-black" >
			<i class=" mr-6 ml-2">
				<Icon name="human-appropriation" size="24" />
			</i>
			<a href="/Main?indicator=AHPPN" class="text-[12px]">{texts.landing.header.nav.Indicators.HumanAppropriationIndicator.title}</a>
		</div>





  </div>
  {/* Sección de descripciones a todo lo ancho */}
  <div class="mt-6 w-full border-t pt-3 pb-3">
	{/* Descripción general */}
	<div
	  id="indicatorsDescriptions"
	  class="description text-black flex flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.generalDescription}
	</div>

	{/* APAR */}
	<div
	  id="aparDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.aparIndicator.description}
	</div>

	{/* PPNA */}
	<div
	  id="ppnaDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.ppnaIndicator.description}
	</div>

	{/* RH */}
	<div
	  id="rhDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.rhIndicator.description}
	</div>

	{/* ET */}
	<div
	  id="etDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.etIndicator.description}
	</div>

	{/* IOSE */}
	<div
	  id="ioseDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.ioseIndicator.description}
	</div>

	{/* COVER */}
	<div
	  id="coverDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.coverIndicator.description}
	</div>

	{/* CONSERVATION */}
	<div
	  id="CSUEDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.ConservacionIndicator.description}

	</div>

	{/* APROPIACIÓN HUMANA */}
	<div
	  id="humanAppropriationDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.HumanAppropriationIndicator.description}

	</div>

	{/* COMMUNITIES */}
	<div
	  id="communitiesDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.communitiesZonesIndicator.description}
	</div>
	{/* Diversidad */}
	<div
	  id="DivTFEDescription"
	  class="description text-black hidden flex-col text-[12px] whitespace-pre-line pb-4 w-full"
	>
	  {texts.landing.header.nav.Indicators.DiversidadIndicator.description}
	</div>

  </div>


<script>
  document.addEventListener("DOMContentLoaded", function () {

	const indicators = document.querySelectorAll(".indicator");
	indicators.forEach(function (e) {
		e.addEventListener("mouseenter", () => showDescription(e));
	});


	function showDescription(e) {

		const descriptions = document.querySelectorAll(".description");
		descriptions.forEach(function (e) {
			(e as HTMLElement).style.display = "none";
		});

		const description = document.getElementById(`${e.id}Description`)
		description.style.display = "flex";
	}



  });

</script>
