---
import texts from "@/../texts.json";
import { Icon } from "astro-icon/components";
---

<div id="documentationOptionPanel" data-state="inactive" class="option-panel hidden flex-col w-full mt-28 mx-10">
  <!-- Contenedor de opciones en grid (1 columna) con un flex interno centrado -->
  <div class="grid grid-cols-1">
    <div class="flex justify-center gap-x-20 grid-flow-row">
      <!-- Artículos -->
			<a href="Documentation.html#section_article" class="text-sm">
				<div id="articles" class="documentation flex p-2 items-center hover:bg-gray-200 h-[4rem] cursor-pointer w-[14rem] rounded-lg border-black text-black">
					<i class="mr-6 ml-2">
						<Icon name="articles" size="24" />
					</i>

					{texts.landing.header.nav.Documentation.Articles.title}

				</div>
			</a>

      <!-- Uso del Sistema -->
			<a href="Documentation.html#section_systemUse" class="text-sm">
				<div id="systemUse" class="documentation flex p-2 items-center hover:bg-gray-200 h-[4rem] cursor-pointer w-[14rem] rounded-lg border-black text-black">
					<i class="mr-6 ml-2">
						<Icon name="systemUse" size="24" />
					</i>

					{texts.landing.header.nav.Documentation.SystemUse.title}

				</div>
			</a>

      <!-- API -->
	  	<a href="Documentation.html#section_api" class="text-sm">
        <div id="api" class="documentation flex p-2 items-center hover:bg-gray-200 h-[4rem] cursor-pointer w-[14rem] rounded-lg border-black text-black">
          <i class="mr-6 ml-2">
            <Icon name="api" size="24" />
          </i>

          {texts.landing.header.nav.Documentation.API.title}

        </div>
	  	</a>

      <!-- Recursos Gee -->
			<a href="Documentation.html#section_GeeResources" class="text-sm">
				<div id="resourcesGee" class="documentation flex p-2 items-center hover:bg-gray-200 h-[4rem] cursor-pointer w-[14rem] rounded-lg border-black text-black">
					<i class="mr-6 ml-2">
						<Icon name="resourcesGEE" size="24" />
					</i>

					{texts.landing.header.nav.Documentation.ResourcesGee.title}

				</div>
			</a>
    </div>
  </div>

  <!-- Sección de descripciones con separador horizontal -->
  <div class="mt-6 w-full border-t pt-3 pb-3">
    <!-- Descripción general (por defecto visible) -->
    <div id="documentationDescription" class="description flex text-black flex-col text-sm whitespace-pre-line pb-4 w-full">
      {texts.landing.header.nav.Documentation.generalDescription}
    </div>
    <!-- Descripciones específicas (ocultas hasta hacer hover) -->
    <div id="articlesDescription" class="description hidden text-black  flex-col text-sm whitespace-pre-line pb-4 w-full">
      {texts.landing.header.nav.Documentation.Articles.description}
    </div>
    <div id="systemUseDescription" class="description hidden text-black  flex-col text-sm whitespace-pre-line pb-4 w-full">
      {texts.landing.header.nav.Documentation.SystemUse.description}
    </div>
    <div id="apiDescription" class="description hidden text-black  flex-col text-sm whitespace-pre-line pb-4 w-full">
      {texts.landing.header.nav.Documentation.API.description}
    </div>
    <div id="resourcesGeeDescription" class="description hidden text-black  flex-col text-sm whitespace-pre-line pb-4 w-full">
      {texts.landing.header.nav.Documentation.ResourcesGee.description}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {

		const documentations = document.querySelectorAll(".documentation");
		documentations.forEach(function (e) {
			e.addEventListener("mouseenter", () => showDescription(e));
		});


		function showDescription(e) {

			const descriptions = document.querySelectorAll(".description");
			descriptions.forEach(function (e) {
				(e as HTMLElement).style.display = "none";
			});

			const description = document.getElementById(`${e.id}Description`)
			description.style.display = "flex";
		}
  });

</script>


