---
import PageLayout from "../layouts/PageLayout.astro";
import texts from "@/../texts.json";
import { Icon } from "astro-icon/components";
import DeleteDialog from "@/components/DeleteDialog";
import { AddZoneModal } from "@/components/AddZoneModal";
import { ZonesOptions } from "@/components/ZonesOptions";
import ZoneRow from "@/components/Zones/ZoneRow";
import { ThemeToggle } from "@/components/ThemeToggle";
import { Separator } from "@/components/ui/separator";
import SearchList from "@/components/SearchList.astro";
import CustomZones from "@/components/Zones/CustomZones.astro";
import BasinZones from "@/components/Zones/BasinZones";
import PoliceSectionZones from "@/components/Zones/PoliceSectionZones";
import CommunityZones from "@/components/Zones/CommunityZones.astro";
import PadronZones from "@/components/Zones/PadronZones";
const GOOGLE_MAP_KEY = import.meta.env.PUBLIC_GOOGLE_MAP_API_KEY;

const params = Astro.url.searchParams;

const indicator = params.get("indicator");
const zoneType = params.get("zone") || "CUSTOM";

const showMapDrawingTools = zoneType.toLowerCase() === "CUSTOM".toLowerCase();

console.log(`indicator = ${indicator}, zone = ${zoneType}`);

let showAddZonaModal = false;

const triggerAddZonaModal = () => {
	showAddZonaModal = true;
};
---

<PageLayout title="Zones.">
   <div slot="header" class="items-center">{texts.common.Zones} - {indicator} - {zoneType} - {showMapDrawingTools}</div>
   <div slot="options" class="flex  items-center  ">
		<ThemeToggle  client:load/>
		<div
					class="flex flex-row  rounded-full pl-2 cursor-pointer transition-transform transform-gpu hover:scale-110"
				>
					<a href="/Documentation">
						<svg  xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16m0 12a1 1 0 1 1 0 2a1 1 0 0 1 0-2m0-9.5a3.625 3.625 0 0 1 1.348 6.99a.837.837 0 0 0-.305.201c-.044.05-.051.114-.05.18L13 14a1 1 0 0 1-1.993.117L11 14v-.25c0-1.153.93-1.845 1.604-2.116a1.626 1.626 0 1 0-2.229-1.509a1 1 0 1 1-2 0A3.625 3.625 0 0 1 12 6.5"/></g></svg>
					</a>

		</div>
   </div>
   <div slot="map" id="map" class="flex-grow ">
   </div>
   <div slot="search" class="flex flex-col md:flex-row md:items-center md:justify-between">
		<div class="mb-3 md:mb-0">
			<SearchList />
		</div>
		<div class="md:ml-4">
			<div class="flex flex-col md:flex-row md:items-center">
				<Separator className="md:hidden w-[100%] " /> 
				<ZonesOptions client:load/>
				<Separator className="md:hidden w-[100%] " /> 
			</div>
		
	</div>
	
</div>
	
	
   <div slot="list" class="flex flex-col mt-1 " >
	<div class="hidden md:block w-[100%] mt-3 mb-3"> 
		<Separator />
	</div >
			{zoneType.toLowerCase() === "CUSTOM".toLowerCase() ? <CustomZones/> : null}
			{zoneType.toLowerCase() === "BASINS".toLowerCase() ? <BasinZones  client:load/>: null}
			{zoneType.toLowerCase() === "POLICE_SECTIONS".toLowerCase() ? <PoliceSectionZones client:load/> : null}
			{zoneType.toLowerCase() === "COMMUNITIES".toLowerCase() ? <CommunityZones /> : null }
			{zoneType.toLowerCase() === "PADRONS".toLowerCase() ? <PadronZones client:load/>: null }
   </div>

   </div>
</PageLayout>


<script type="module"
        async
        defer
        src=`https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAP_KEY}&callback=initMap&libraries=&v=weekly&loading=async`

></script>

<script define:vars={{ indicator, showMapDrawingTools }}>
	function initMap() {
		console.log(`initMap -- ${indicator} - ${showMapDrawingTools}`)
	}

	initMap()
</script>




