---

import texts from "@/../texts.json";
import CardIndicators from "./CardIndicators.astro";
---
<section class="flex-col min-h-screen w-screen text-center relative overflow-hidden pb-28 ">
   <div class="absolute inset-0 bg-[radial-gradient(ellipse_at_center,_#0d0d0d_0%,_#08681b_100%)]  opacity-80 -z-10"></div>
   <section class="relative py-4 bg-[radial-gradient(ellipse_at_center,_#08681b_0%,_#0d0d0d_100%)]">
      <div class="max-w-5xl mx-auto px-6">

        <!-- Título principal grande y en negrita -->
        <h2 class="mt-2 text-2xl sm:text-3xl md:text-4xl  text-white">
          Características Estructurales y Funcionales
        </h2>


    </section>


  <section class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 md:gap-[50px] xl:gap-[20px] gap-4 mt-[6rem] mx-5 sm:mx-10 lg:mx-20 z-30 relative md:pt-28 xl:pt-4 md:px-24">

      <CardIndicators title={texts.landing.header.nav.Indicators.ioseIndicator.title} description={texts.landing.header.nav.Indicators.ioseIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=IOSE" buttonText="Acceder" />
      <CardIndicators title={texts.landing.header.nav.Indicators.etIndicator.title} description={texts.landing.header.nav.Indicators.etIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=ET" buttonText="Acceder" />
      <CardIndicators title={texts.landing.header.nav.Indicators.rhIndicator.title} description={texts.landing.header.nav.Indicators.rhIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=RH" buttonText="Acceder" />
      <CardIndicators title={texts.landing.header.nav.Indicators.DiversidadIndicator.title} description={texts.landing.header.nav.Indicators.DiversidadIndicator.description} image="/images/1.jpeg" buttonLink="/Main?indicator=DivTFE" buttonText="Acceder" />



   </section>
</section>






